/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

@font-face {
    font-family: 'Literata';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Literata.woff2) format('woff2');
}

p {
    font-size: 16px;
}

a:link {
    text-decoration: none;
}

a {
    color:white;
    text-decoration: none;
}

p {
    margin: 2px;
    line-height: 1.8;
}

h1 {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 34px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 28px;
}

h3 {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 22px;
}

body {
    margin: 0;
    background-color: white;
    background: url("bg_01.png");
    color: white;
    font-family: 'Literata';
}

#pagetop {
    height: 120px;
    width: 100%;
    min-width: 1226px;
    background: linear-gradient(#9ca1fd24,#bbc4ff08 80px,#bbc4ff00 116px,#16151c49 116px,#16151c49),linear-gradient(105deg,#292a3c,#32344b 6%,#303148 9%,#303148 10%,#373a53 22%,#2c2d43 25%,#2b2c43 26%,#272b3f 48%,#27283c 52%,#27283e 54%,#2c2b44 58%,#29273e 60%,#282843 64%,#27243e 66%,#322a3e);
    box-shadow: 0px 0px 20px #151320B0;
    display: flex;
    box-sizing: border-box;
}

.header_inner {
    margin: auto;
    width: 900px;
}

.header_logo {
    float: left;
    margin-top: 6px;
    margin-bottom: 6px;
}

.header_logo_pic {
    width: 180px;
}

.top_button_menu {
    float: right;
}

.top_buttons {
    margin: 0px;
}

.top_buttons li {
    display:inline;
    float:left;
    margin: 32px 4px 32px 4px;
    padding: 12px;
    font-weight: bold;
    font-family: Literata;
    color: white;
    font-size: 20px;
}

#container {
    margin: auto;
    width: 1226px;
}

.main_menu {
    background: linear-gradient(45deg,#1219257a,#0d09177a);
    backdrop-filter: blur(2px) saturate(100%);
    color: white;
    box-shadow: 0px 0px 10px #15132070;
    border: 3px solid #110f1bcd;
    border-radius: 6px;
    padding: 10px;
    font-family: Literata;
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

/* Breaking News */

.news_intro_border {
    background: linear-gradient(155deg,#49A7D3, #3D78B2 20%, #3D60B2 40%, #6B2E61);
    box-shadow: 0 6px 10px #15132080;
    border-radius: 10px;
    display: block;
    width: 688px;
    align-content: center;
    margin: 8px 1px;
}

.news_intro {
    background: radial-gradient(at bottom right, #5640BA20, transparent 350px), radial-gradient(at top left, #2A5FB430, transparent 350px), linear-gradient(#262851, #2A3057 12%,#1A1C39 58%,#161634 65%, #261145);
    width: 680px;
    margin: 4px;
    padding-bottom: 4px;
    border-radius: 6px;
    overflow: hidden;
}

.news_intro h2 {
    margin: 0px;
    text-align: center;
}

.news_border {
    background: linear-gradient(170deg,#4B9CA1, #538EAC 20%, #2D2E63 80%, #4C2C81);
    box-shadow: 0 6px 10px #15132080;
    border-radius: 10px;
    display: block;
    width: 688px;
    align-content: center;
    margin: 8px 1px;
}

.news_container {
    width: 680px;
    margin: 4px;
    border-radius: 6px;
    overflow: hidden;
}

.news_title {
    background: linear-gradient(115deg, #3C89C420, #23286050 38%, #17204F40 40%, #10123A40 50%, #2C337260 52%, #161F4D40 80%, #20336660 82%, #10123A40), linear-gradient(#3B5C82,#2E3D60 48%,#272850 55%, #303A72);
    font-size: 22px;
    padding: 6px 6px;
}

.news_content {
    background: radial-gradient(at bottom right, #5640BA20, transparent 350px), radial-gradient(at top left, #2A5FB430, transparent 350px), linear-gradient(#262851, #2A3057 12%,#1A1C39 58%,#161634 65%, #261145);
    box-shadow: inset 0 0 2px 3px #181a3d50;
    padding: 4px 12px;
}

.news_date {
    text-align: right;
    font-size: 10px;
    line-height: 10px;
    padding-right: 2px;
    margin: 0px;
    float: right;
}

.news_signoff {
    height: 180px;
}

.news_signoff_pic {
    position: absolute;
    image-rendering: pixelated;
    left: 255px;
}

.news_signoff_left {
    font-size: 14px;
    position: relative;
    float: right;
    right: 423px;
    top: 70px;
}

.news_signoff_right {
    font-size: 14px;
    position: relative;
    float: left;
    left: 423px;
    top: 100px;
}

/* Archive button */

.archive_button_border {
    background: linear-gradient(155deg,#49A7D3, #3D78B2 20%, #3D60B2 40%, #6B2E61);
    box-shadow: 0 6px 10px #15132080;
    border-radius: 10px;
    display: block;
    width: 188px;
    align-content: center;
    margin: 8px auto;
}

.archive_button {
    background: radial-gradient(at bottom right, #5640BA20, transparent 350px), radial-gradient(at top left, #2A5FB430, transparent 350px), linear-gradient(#262851, #2A3057 12%,#1A1C39 58%,#161634 65%, #261145);
    width: 180px;
    margin: 4px;
    padding-top: 8px;
    padding-bottom: 12px;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    transition: filter 0.3s;
}

.archive_button p {
    font-size: 24px;
}

.archive_button:hover {
    filter: brightness(1.25) contrast(1.05);
}

.archive_button:active {
    filter: brightness(0.85) contrast(1.05) hue-rotate(5deg);
}

/* The left menu */
.left_menu {
    background: linear-gradient(#4b619830,#231d3740),linear-gradient(115deg,#2a2c4190,#2a2c4190 13%,#33365190 15%,#2e314990 35%,#2a2c4190 36%,#2a2c4190 43%,#33365190 45%,#2e314990 70%,#2a2c4190 71%,#2c273d90);
    backdrop-filter: blur(6px) saturate(120%);
    box-shadow: 0 0px 20px #15132070, inset 0 0 0 2px #5b668b50;
    color: white;
    border-radius: 4px;
    padding: 10px;
    float: left;
    width: 690px;
}

/* A link to the past */
.redlink {
    color: #f14a74;
    font-weight: 800;
    text-shadow: 0 0px 20px #f14a74A0;
    transition: filter 0.3s;
}

.goldlink {
    color: #f0b237;
    font-weight: 800;
    text-shadow: 0 0px 20px #f0b237A0;
    transition: filter 0.3s;
}

.purplelink {
    color: #7237f0;
    font-weight: 800;
    text-shadow: 0 0px 20px #7237f0A0;
    transition: filter 0.3s;
}

.redlink:hover {
    filter: brightness(1.25) contrast(1.05);
}

.goldlink:hover {
    filter: brightness(1.25) contrast(1.05);
}

.purplelink:hover {
    filter: brightness(1.25) contrast(1.05);
}

.right_menu {
    background: linear-gradient(#594b9e30,#291d3940),linear-gradient(120deg,#252336b0,#252336b0 13%,#333651b0 15%,#2e3149b0 35%,#252336b0 36%,#252336b0 43%,#333651b0 45%,#2e3149b0 70%,#252336b0 71%,#211c2db0);
    backdrop-filter: blur(6px) saturate(120%);
    box-shadow: 0 0px 20px #15132070, inset 0 0 0 2px #675b8b50;
    color: white;
    border-radius: 4px;
    padding: 10px;
    float: right;
    width: 450px;
}

.portrait {
    image-rendering: pixelated;
    display: flex;
}

/* For small screens */
@media (max-width: 1100px) {
    #pagetop {
        min-width: 627px;
    }
    .header_inner {
        width: 550px;
    }
    #container {
        margin: auto;
        width: 627px;
    }
    .left_menu {
        width: 580px;
    }
    .right_menu {
        width: 580px;
        margin-top: 10px;
    }
    .main_menu {
        width: 600px;
        flex-direction: column;
    }
    .news_intro_border {
        width: 580px;
    }
    .news_intro {
        width: 572px;
    }
    .news_border {
        width: 580px;
        margin: 8px 0px;
    }
    .news_container {
        width: 572px;
    }
    .news_signoff_pic {
        position: absolute;
        image-rendering: pixelated;
        left: 200px;
    }
    .news_signoff_left {
        right: 380px;
    }
    .news_signoff_right {
        left: 380px;
    }
}