/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

@font-face {
    font-family: 'Literata';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/literata/v34/or3aQ6P12-iJxAIgLa78DkrbXsDgk0oVDaDPYLanFLHpPf2TbBG_df3-vbgKBM6YoggA-vpO-7c.woff2) format('woff2');
}

a:link{
    text-decoration: none;
}

a{
    color:white;
    text-decoration: none;
}

p {
    margin: 2px;
    line-height: 1.8;
}

h1 {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 34px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 28px;
    background: linear-gradient(#9DD1FF, #92C7FF 50%, #86BEFF 60%, #75ACFF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 22px;
    background: linear-gradient(#498CFF, #5297FA 50%, #468BF9 60%, #3C7CF9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

ul {
    list-style-type: none;
}


body {
    margin: 0;
    background-color: black;
    background: url(../bg_01.png);
    color: white;
    font-family: 'Literata';
    font-kerning: none;
}

#pagetop {
    height: 120px;
    width: 100%;
    min-width: 1226px;
    background: linear-gradient(#9ca1fd24,#bbc4ff08 80px,#bbc4ff00 116px,#16151c49 116px,#16151c49),linear-gradient(105deg,#292a3c,#32344b 6%,#303148 9%,#303148 10%,#373a53 22%,#2c2d43 25%,#2b2c43 26%,#272b3f 48%,#27283c 52%,#27283e 54%,#2c2b44 58%,#29273e 60%,#282843 64%,#27243e 66%,#322a3e);
    box-shadow: 0px 0px 20px #151320B0;
    display: flex;
    box-sizing: border-box;
}

.header_inner{
    margin: auto;
    width: 900px;
}

.header_logo {
    float: left;
    margin-top: 6px;
    margin-bottom: 6px;
}

.top_button_menu {
    float: right;
}

.top_buttons li {
    display:inline;
    float:left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 4px;
    margin-left: 4px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
    font-family: Literata;
    color: white;
    font-size: 20px;
}

#container {
    margin: auto;
    width: 1200px;
}

.main_menu {
    background: linear-gradient(45deg,#1219257a,#0d09177a);
    backdrop-filter: blur(2px) saturate(100%);
    color: white;
    box-shadow: 0px 0px 10px #15132070;
    border: 3px solid #110f1bcd;
    border-radius: 6px;
    padding: 10px;
    font-family: Literata;
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.left_menu {
    background: linear-gradient(#4b619830,#231d3740),linear-gradient(115deg,#2a2c4190,#2a2c4190 13%,#33365190 15%,#2e314990 35%,#2a2c4190 36%,#2a2c4190 43%,#33365190 45%,#2e314990 70%,#2a2c4190 71%,#2c273d90);
    backdrop-filter: blur(6px) saturate(120%);
    box-shadow: 0 0px 20px #15132070, inset 0 0 0 2px #5b668b50;
    color: white;
    border-radius: 4px;
    padding: 10px;
    float: left;
    width: 780px;
}

.left_option {
    color:azure;
    text-decoration: none;
    padding: 0 2px;
}

.left_option:hover {
    background: linear-gradient(184deg,#3b4466,#34385b 50%,#303455 55%,#322c4f);
    box-shadow: 0 0px 4px #15132080, inset 0 0 0 2px #8496dd50;
    border-radius: 5px;
    padding: 0 2px;
}

.left_notready {
    color:#556c98a9;
    text-decoration: none;
    line-height: normal;
}

.left_bigbutton {
    display:inline;
    float:left;
    background: linear-gradient(184deg,#3b4466,#34385b 50%,#303455 55%,#322c4f);
    box-shadow: 0 0px 10px #15132080, inset 0 0 0 2px #8496dd50;
    border-radius: 6px;
    margin: 8px;
    width: 160px;
    height: 100px;
    text-align: center;
    transition: filter 0.3s;
}

.left_bigbutton:hover {
    filter: brightness(1.25) contrast(1.05);
}

.left_bigbutton:active {
    filter: brightness(0.85) contrast(1.05) hue-rotate(5deg);
}

.left_buttonimage {
    display:inline-block;
    text-align: center;
    margin-top: 10px;
    border: 3px solid #7987dc40;
    border-radius: 4px;
    width: 120px;
    height: 60px;
}

.redlink {
    color: #f14a74;
    font-weight: 800;
    text-shadow: 0 0px 20px #f14a74A0;
    transition: filter 0.3s;
}

.goldlink {
    color: #f0b237;
    font-weight: 800;
    text-shadow: 0 0px 20px #f0b237A0;
    transition: filter 0.3s;
}

.purplelink {
    color: #7237f0;
    font-weight: 800;
    text-shadow: 0 0px 20px #7237f0A0;
    transition: filter 0.3s;
}

.redlink:hover {
    filter: brightness(1.25) contrast(1.05);
}

.goldlink:hover {
    filter: brightness(1.25) contrast(1.05);
}

.purplelink:hover {
    filter: brightness(1.25) contrast(1.05);
}

.left_buttontext {
    margin-top: -7px;
}

sup {
    font-size: 12px;
}

aside {
    float: right;
}

 /* The Tab Menu */
 /* Style the tab */
.tab {
    overflow: hidden;
    border: 0px solid #2B1C4B;
    background-color: #2B1C4B;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background: linear-gradient(182deg,#2D2548,#2B2445 50%,#251F3F 55%,#302347);
    box-shadow: inset 0 0 0 2px #1e182f90;
    float: left;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    filter: brightness(1.25) contrast(1.05);
}

/* Create an active/current tablink class */
.tab button.active {
    background: linear-gradient(182deg,#373A66,#32305B 50%,#2E2D55 55%,#34294F);
}
.tab button.active:hover {
    filter: brightness(1.25) contrast(1.05);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 0px 0px;
    border: 0px solid #262638;
    border-top: none;
}

.tablinks {
    color: azure;
    font-family: 'Literata';
    font-size: 14px;
}

/* Style the wiki content */
.wiki_infobox {
    border-radius: 6px;
    margin: 4px 4px 4px 4px;
    background-color: #2B1C4B;
    width: 300px;
    float: right;
    overflow: hidden;
}

.infobox_border {
    margin: 0 0 16px 16px;
    border-radius: 10px;
    background: linear-gradient(150deg,#A0FFC7, #88FFD5 10%, #91FCFA 25%, #9DDCFF 50%, #6AA5FF 75%, #C685FF);
    box-shadow: 0 0px 20px #15132070;
    width: 308px;
    float: right;
    overflow: hidden;
}

.infobox_item {
    display: flex;
    flex-direction: row;
}

.infobox_itemcontainer {
    background: radial-gradient(at top left, #5f87d0e0, transparent 250px), radial-gradient(at top right, #4D50A980, transparent 150px), radial-gradient(at bottom right, #7643C6F0, transparent 300px);
}

.infobox_data {
    background-color: #242643A0;
    padding: 4px 8px;
    flex-basis: 80px;
    font-weight: 600;
    font-size: 12px;
}

.infobox_value {
    background-color: #151522a0;
    padding: 4px 8px;
    font-size: 12px;
    flex-basis: 190px;
}

.infobox_title {
    background: linear-gradient(180deg,#303865,#24294B 48%,#1F1B3E 55%, #2B1C4B);
    box-shadow: inset 0 0 0 2px #2B1C4BA0;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    padding: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 22px;
    text-shadow: 0 0px 16px #85b6f2A0;
}

/* Everything that appears on the right side */
.right_menu {
    background: linear-gradient(#594b9e30,#291d3940),linear-gradient(120deg,#252336b0,#252336b0 13%,#333651b0 15%,#2e3149b0 35%,#252336b0 36%,#252336b0 43%,#333651b0 45%,#2e3149b0 70%,#252336b0 71%,#211c2db0);
    backdrop-filter: blur(6px) saturate(120%);
    box-shadow: 0 0px 20px #15132070, inset 0 0 0 2px #675b8b50;
    color: white;
    border-radius: 4px;
    padding: 10px;
    float: right;
    width: 350px;
}

.right_title {
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 20px;
    background: linear-gradient(#A488FF, #8C70FF 50%, #8261FF 60%, #7B55FF);
    text-shadow: 0 0px 20px #9753eaa0;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contents_border {
    background: linear-gradient(160deg, #A488FF, #8C70FF 50%, #8261FF 60%, #7B55FF);
    box-shadow: 0 0px 20px #15132070;
    border-radius: 10px;
    padding: 4px 4px 4px 4px;
    width: 340px;
}

.contents_menu {
    background-color: #231C3B;
    border-radius: 8px;
    width: 340px;
    overflow: hidden;
}

.contents_title {
    background: linear-gradient(#303865,#24294B 48%,#1F1B3E 55%, #2B1C4B);
    box-shadow: inset 0 0 0 2px #2B1C4BA0;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    padding: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 22px;
    text-shadow: 0 0px 16px #85b6f2A0;
}

.contents_body {
    background: radial-gradient(at bottom right, #4543c630, transparent 300px), radial-gradient(at bottom left, #3e40ac30, transparent 250px), linear-gradient(#231C3B, #252041 8%,#171229 48%,#130E22 55%, #22092E);
    margin: 0px 0px;
    padding: 4px 0px 4px 16px;
}

.contents_item {
    padding: 4px 0px;
}

.contents_item_with_list {
    padding: 4px 0px 0px 0px;
}

.contents_link {
    padding: 4px 0px;
    text-shadow: 0 0px 10px #6670b8b0;
    transition: text-shadow 0.2s;
}

.contents_link:hover {
    text-shadow: 0 0px 16px rgb(157, 185, 255);
}

.contents_level {
    margin: 0px 0px;
    padding: 0px 0px 0px 12px;
}