/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

@font-face {
    font-family: 'Literata';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/literata/v34/or3aQ6P12-iJxAIgLa78DkrbXsDgk0oVDaDPYLanFLHpPf2TbBG_df3-vbgKBM6YoggA-vpO-7c.woff2) format('woff2');
}

a:link{
    text-decoration: none;
}

a{
    color:white;
    text-decoration: none;
}

p {
    margin: 2px;
    line-height: 1.8;
}

h1 {
    margin-top: 4px;
    margin-bottom: 4px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 4px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 4px;
}

h4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

ul {
    list-style-type: none;
}


body {
    margin: 0;
    background-color: black;
    background: url(../bg_01.png);
    color: white;
    font-family: 'Literata';
    font-kerning: none;
}

#pagetop {
    height: 120px;
    width: 100%;
    background: linear-gradient(#9ca1fd24,#bbc4ff08 80px,#bbc4ff00 116px,#16151c49 116px,#16151c49),linear-gradient(105deg,#292a3c,#32344b 6%,#303148 9%,#303148 10%,#373a53 22%,#2c2d43 25%,#2b2c43 26%,#272b3f 48%,#27283c 52%,#27283e 54%,#2c2b44 58%,#29273e 60%,#282843 64%,#27243e 66%,#322a3e);
    box-shadow: 0px 0px 20px #151320B0;
    display: flex;
    box-sizing: border-box;
}

.header_inner{
    margin: auto;
    width: 900px;
}

.header_logo {
    float: left;
    margin-top: 6px;
    margin-bottom: 6px;
}

.top_button_menu {
    float: right;
}

.top_buttons li {
    display:inline;
    float:left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 4px;
    margin-left: 4px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
    font-family: Literata;
    color: white;
    font-size: 20px;
}

#container {
    margin: auto;
    width: 1200px;
}

.main_menu {
    background: linear-gradient(45deg,#1219257a,#0d09177a);
    backdrop-filter: blur(2px) saturate(100%);
    color: white;
    box-shadow: 0px 0px 10px #15132070;
    border: 3px solid #110f1bcd;
    border-radius: 6px;
    padding: 10px;
    font-family: Literata;
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.left_menu {
    background: linear-gradient(#4b619830,#231d3740),linear-gradient(115deg,#2a2c4190,#2a2c4190 13%,#33365190 15%,#2e314990 35%,#2a2c4190 36%,#2a2c4190 43%,#33365190 45%,#2e314990 70%,#2a2c4190 71%,#2c273d90);
    backdrop-filter: blur(6px) saturate(120%);
    box-shadow: 0 0px 20px #15132070, inset 0 0 0 2px #5b668b50;
    color: white;
    border-radius: 4px;
    padding: 10px;
    float: left;
    width: 780px;
}

.left_option {
    color:azure;
    text-decoration: none;
    padding: 0 2px;
}

.left_option:hover {
    background: linear-gradient(184deg,#3b4466,#34385b 50%,#303455 55%,#322c4f);
    box-shadow: 0 0px 4px #15132080, inset 0 0 0 2px #8496dd50;
    border-radius: 5px;
    padding: 0 2px;
}

.left_notready {
    color:#556c98a9;
    text-decoration: none;
}

.left_bigbutton {
    display:inline;
    float:left;
    background: linear-gradient(184deg,#3b4466,#34385b 50%,#303455 55%,#322c4f);
    box-shadow: 0 0px 10px #15132080, inset 0 0 0 2px #8496dd50;
    border-radius: 6px;
    margin: 8px;
    width: 160px;
    height: 100px;
    text-align: center;
    transition: filter 0.3s;
}

.left_bigbutton:hover {
    filter: brightness(1.25) contrast(1.05);
}

.left_bigbutton:active {
    filter: brightness(0.85) contrast(1.05) hue-rotate(5deg);
}

.left_buttonimage {
    display:inline-block;
    text-align: center;
    margin-top: 10px;
    border: 3px solid #7987dc40;
    border-radius: 4px;
    width: 120px;
    height: 60px;
}

.redlink {
    color: #f14a74;
    font-weight: 800;
    text-shadow: 0 0px 20px #f14a74A0;
    transition: filter 0.3s;
}

.redlink:hover {
    filter: brightness(1.25) contrast(1.05);
}

.left_buttontext {
    margin-top: -7px;
}

.right_menu {
    background: linear-gradient(#594b9e30,#291d3940),linear-gradient(120deg,#252336b0,#252336b0 13%,#333651b0 15%,#2e3149b0 35%,#252336b0 36%,#252336b0 43%,#333651b0 45%,#2e3149b0 70%,#252336b0 71%,#211c2db0);
    backdrop-filter: blur(6px) saturate(120%);
    box-shadow: 0 0px 20px #15132070, inset 0 0 0 2px #675b8b50;
    color: white;
    border-radius: 4px;
    padding: 10px;
    float: right;
    width: 350px;
}

.wiki_infobox {
    margin: 0 0 16px 16px;
}

sup {
    font-size: 12px;
}

aside {
    width: 300px;
    float: right;
    background-color: #1f1f32;
}

 /* The Tab Menu */
 /* Style the tab */
.tab {
  overflow: hidden;
  border: 0px solid #262638;
  background-color: #1f1f32;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #38384e;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #262638;
}
.tab button.active:hover {
    background-color: #38384e;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0px 0px;
  border: 0px solid #262638;
  border-top: none;
}

.tablinks {
    color: azure;
    font-family: 'Literata';
    font-size: 14px;
}

.infobox_item {
    display: flex;
    flex-direction: row;
}

.infobox_data {
    background-color: #262638;
    padding: 4px 8px;
    flex-basis: 80px;
    font-weight: 600;
    font-size: 12px;
}

.infobox_value {
    background-color: #1f1f32;
    padding: 4px 8px;
    font-size: 12px;
    flex-basis: 190px;
}
